.block-logout {
    display: flex;
    gap: 5px;
}

.main-nav-item,
.sign-out {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2c3e50;
    font-size: 16px;
    gap: 5px;
}

.main-nav-item {
    margin-right: 0.5rem;
}

.sign-out {
    padding: 0;
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.main-nav-item:hover span,
.sign-out:hover span {
    text-decoration: underline;
}