.hero {
    background-image: url('../../../../public/img/bank-tree.jpeg');
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}

@media (min-width: 920px) {
    .hero {
        height: 400px;
        background-position: 0% 33%;
    }
}